<section class="public-application">
  <div class="lgpd-modal" *ngIf="consentOpen">
    <div role="dialog" aria-modal="true" aria-labelledby="lgpd-title">
      <h2 id="lgpd-title" i18n>Consentimento LGPD</h2>
      <p i18n>
        Autorizo o tratamento dos dados informados para inscricao no concurso, validacao de
        requisitos, analise de isencao e geracao de cobranca.
      </p>
      <p i18n>Versao do termo: {{ lgpdConsentVersion }}</p>
      <button type="button" (click)="acceptConsent()" i18n>Aceitar</button>
    </div>
  </div>

  <header>
    <h1 i18n>Inscricao em concurso</h1>
    <nav aria-label="Etapas da inscricao" i18n-aria-label>
      <button type="button" [class.active]="step === 'personal'" i18n>Dados</button>
      <button type="button" [class.active]="step === 'position'" i18n>Cargo</button>
      <button type="button" [class.active]="step === 'quota'" i18n>Cota</button>
      <button type="button" [class.active]="step === 'exemption'" i18n>Isencao</button>
      <button type="button" [class.active]="step === 'biometrics'" i18n>Biometria</button>
      <button type="button" [class.active]="step === 'confirm'" i18n>Confirmacao</button>
      <button type="button" [class.active]="step === 'payment'" i18n>Pagamento</button>
    </nav>
  </header>

  <form>
    <fieldset *ngIf="step === 'personal'">
      <label
        ><ng-container i18n>CPF</ng-container>
        <input name="cpf" inputmode="numeric" [(ngModel)]="form.cpf"
      /></label>
      <label
        ><ng-container i18n>Nome completo</ng-container>
        <input name="fullName" [(ngModel)]="form.fullName"
      /></label>
      <label
        ><ng-container i18n>Nascimento</ng-container>
        <input name="birthDate" type="date" [(ngModel)]="form.birthDate"
      /></label>
      <label
        ><ng-container i18n>Email</ng-container>
        <input name="email" type="email" [(ngModel)]="form.email"
      /></label>
      <label
        ><ng-container i18n>Telefone</ng-container> <input name="phone" [(ngModel)]="form.phone"
      /></label>
      <label
        ><ng-container i18n>Endereco</ng-container> <input name="street" [(ngModel)]="form.street"
      /></label>
      <label
        ><ng-container i18n>Cidade</ng-container> <input name="city" [(ngModel)]="form.city"
      /></label>
      <label
        ><ng-container i18n>UF</ng-container>
        <input name="state" maxlength="2" [(ngModel)]="form.state"
      /></label>
      <label
        ><ng-container i18n>CEP</ng-container>
        <input name="postalCode" [(ngModel)]="form.postalCode"
      /></label>
    </fieldset>

    <fieldset *ngIf="step === 'position'">
      <label
        ><ng-container i18n>Vaga</ng-container> <input name="vagaId" [(ngModel)]="form.vagaId"
      /></label>
      <label
        ><ng-container i18n>Escolaridade</ng-container>
        <input name="education" [(ngModel)]="form.education"
      /></label>
      <label
        ><ng-container i18n>Registro profissional</ng-container>
        <input name="professionalRegistry" [(ngModel)]="form.professionalRegistry"
      /></label>
    </fieldset>

    <fieldset *ngIf="step === 'quota'">
      <label>
        <ng-container i18n>Autodeclaracao</ng-container>
        <select name="quota" [(ngModel)]="form.quota">
          <option value="" i18n>Ampla concorrencia</option>
          <option value="pcd" i18n>PCD</option>
          <option value="racial" i18n>Racial</option>
          <option value="indigenous" i18n>Indigena</option>
        </select>
      </label>
    </fieldset>

    <fieldset *ngIf="step === 'exemption'">
      <label>
        <ng-container i18n>Isencao</ng-container>
        <select name="exemptionKind" [(ngModel)]="form.exemptionKind">
          <option value="NONE" i18n>Nao solicitar</option>
          <option value="CADUNICO" i18n>CadUnico</option>
          <option value="BONE_MARROW_DONOR" i18n>Doador de medula</option>
        </select>
      </label>
      <label
        ><ng-container i18n>NIS</ng-container> <input name="nis" [(ngModel)]="form.nis"
      /></label>
      <label
        ><ng-container i18n>Registro de doador</ng-container>
        <input name="donorRegistry" [(ngModel)]="form.donorRegistry"
      /></label>
      <label
        ><ng-container i18n>Comprovante</ng-container>
        <input name="exemptionEvidence" [(ngModel)]="form.exemptionEvidence"
      /></label>
    </fieldset>

    <fieldset *ngIf="step === 'biometrics'">
      <label>
        <input name="biometricConsent" type="checkbox" [(ngModel)]="form.biometricConsent" />
        <ng-container i18n
          >Confirmo consentimento especifico LGPD art. 11 versao
          {{ biometricConsentVersion }}</ng-container
        >
      </label>
      <label
        ><ng-container i18n>Qualidade digital</ng-container>
        <meter min="0" max="1" [value]="form.fingerprintQuality"></meter
      ></label>
      <label
        ><ng-container i18n>Qualidade face</ng-container>
        <meter min="0" max="1" [value]="form.faceQuality"></meter
      ></label>
      <button type="button" (click)="acceptBiometricConsent()" i18n>
        Aceitar termo biometrico
      </button>
      <button type="button" (click)="captureFingerprint()" [disabled]="!form.biometricConsent" i18n>
        Capturar digital
      </button>
      <button type="button" (click)="captureFace()" [disabled]="!form.biometricConsent" i18n>
        Capturar face
      </button>
    </fieldset>

    <fieldset *ngIf="step === 'confirm'">
      <label>
        <input name="lgpdConsent" type="checkbox" [(ngModel)]="form.lgpdConsent" />
        <ng-container i18n
          >Confirmo consentimento LGPD versao {{ lgpdConsentVersion }}</ng-container
        >
      </label>
      <p i18n>{{ form.fullName }} - CPF {{ form.cpf }}</p>
    </fieldset>

    <fieldset *ngIf="step === 'payment'">
      <label
        ><ng-container i18n>QR PIX</ng-container>
        <textarea name="pixQrCode" readonly [(ngModel)]="payment.pixQrCode"></textarea>
      </label>
      <label
        ><ng-container i18n>Codigo de barras</ng-container>
        <input name="boletoBarcode" readonly [(ngModel)]="payment.boletoBarcode"
      /></label>
    </fieldset>
  </form>

  <footer>
    <button type="button" (click)="previous()" [disabled]="step === 'personal'" i18n>Voltar</button>
    <button type="button" (click)="next()" [disabled]="step === 'payment'" i18n>Avancar</button>
  </footer>
</section>
