@stynx-nyx:registry=https://npm.pkg.github.com
@devai-nyx:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
# Angular 21 security patches currently outpace Material/CDK peer metadata.
legacy-peer-deps=true
