<section class="yearly-income-admin">
  <header class="page-header">
    <div>
      <h1 i18n>Comprovantes de rendimentos</h1>
      <p i18n>Geracao anual por ano-base com PDFs e hash de integridade.</p>
    </div>
  </header>

  <form [formGroup]="form" class="toolbar">
    <mat-form-field appearance="outline">
      <mat-label i18n>Ano-base</mat-label>
      <input matInput type="number" formControlName="yearBase" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="button" (click)="generate()" [disabled]="loading">
      <mat-icon>picture_as_pdf</mat-icon>
      <ng-container i18n>Gerar lote</ng-container>
    </button>
  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <section class="result" *ngIf="result">
    <h2 i18n>Resultado</h2>
    <dl>
      <div>
        <dt i18n>Status</dt>
        <dd>{{ result.status }}</dd>
      </div>
      <div>
        <dt i18n>Arquivos</dt>
        <dd>{{ result.fileCount }}</dd>
      </div>
      <div>
        <dt i18n>Erros</dt>
        <dd>{{ result.errorCount }}</dd>
      </div>
    </dl>

    <table>
      <thead>
        <tr>
          <th i18n>Servidor</th>
          <th i18n>Arquivo</th>
          <th i18n>Hash</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of result.files">
          <td>{{ file.employeeId }}</td>
          <td>{{ file.fileId }}</td>
          <td>{{ file.fileHash }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
